.App {
  font-family: sans-serif;
  text-align: center;
}
table, th, td {
  border:1px solid black;
  width: 20%;
}

.wrapContent{
  margin: 0 auto;
  text-align: left;
  width: 90%;
  word-wrap: break-word;
}

.wrapContentPost{
  text-align: right;
  width: 90%;
  word-wrap: break-word;
}
input {
  width: 30%;
  padding: 12px 20px;
  margin: 8px 0;
  border: 1px solid rgb(223, 47, 47);
  box-sizing: border-box;
}

.regOrloginBtn{
  background-color: #04AA6D;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 30%;
}

.divForRegOrLog{
    border: solid;
    padding: 16px;
    margin: 100 auto;
}